* {
  margin: 0;
  outline:none;

}

.homeColumn{
  display: flex;
  flex-direction: column;
  height: fit-content;
  
  
  
}

.forumBody{
  display: flex;
  flex: 8;
  height: 90vh;  
}


.articleLink__bg{
  display: flex;
  flex: 8;
  height: 90vh;  
}